<dialog class="add-dialog" id="add-dialog">
    <form method="dialog">

        <div>
            <label for="author">Автор</label>
            <input type="text" id="add-author">
        </div>
        <div>
            <label for="title">Название</label>
            <input type="text" id="add-title">
        </div>
        <div>
            <label for="release">Дата выпуска</label>
            <input type="date" id="add-release">
        </div>
        <!--                        <div>-->
        <!--                            <label for="cover">Обложка книги</label>-->
        <!--                            <input type="file" id="cover" name="cover" required>-->
        <!--                        </div>-->

        <div>
            <button class="dialog-button" id="addCancelButton" value="cancel">Отмена</button>
            <button class="dialog-button" id="add-book-button" type="submit">Добавить книгу</button>
        </div>

    </form>
</dialog>