<dialog id="delete-dialog">
    <form method="dialog">
        <p>
            Вы уверены, что хотите удалить книгу?
        </p>
        <div>
            <button class="dialog-button" id="cancelDeleteButton" value="cancel">Отмена</button>
            <button type="submit" class="dialog-button" id="confirmDeleteButton" value="default">Удалить</button>
        </div>
    </form>
</dialog>