<dialog id="delete-dialog">
    <form method="dialog">
        Вы уверены, что хотите удалить книгу?????
        <div>
            <button id="cancelDeleteButton" value="cancel">Отмена</button>
            <button type="submit" id="confirmDeleteButton" value="default">Удалить</button>
        </div>
    </form>
</dialog>