<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">My Fucking Library</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Просроченные</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">В наличии</a>
        </li>
    </ul>
</nav>