<dialog id="user-dialog">
    <form method="dialog">

        <div>
            <label for="name">Имя пользователя</label>
            <input type="text" id="book-user-name">
        </div>
        <div>
            <label for="return-date">Дата возврата</label>
            <input type="date" id="return-date" >
        </div>

        <div>
            <button class="dialog-button" id="cancelButton" value="cancel">Отмена</button>
            <button class="dialog-button" type="submit" id="confirmBtn" value="default">Подтвердить</button>
        </div>
    </form>
</dialog>