<div class="head-container">
    <div class="main-icon">
        <a href='/'>
            <img src='/images/main.svg' />
        </a>
    </div>
    <div class="navigation">
        <div class="log-out">
            <button id="logOut" type="submit">
                <img src="/images/log-out.svg">
            </button>
        </div>
        <div class="nav-items">
            <a class="nav-link-a" href="/library/sort/instock" >В наличии</a>
            <a class="nav-link-a" href="/library/sort/given" >На руках</a>
            <a class="nav-link-a" href="/library/sort/overdue" >Просроченные</a>
        </div>
        <div class="show-add-info">
            <button id="show-add-info-button" type="submit">
                <img src="/images/add-button.svg">
            </button>
        </div>
    </div>
</div>