<link href="/css/login.css" rel="stylesheet" type="text/css">
<div class="login-container">
    <div class="login-title">
        <div class="title-box">
            <label for="text" class="input-title">Всего лишь библиотека</label>
        </div>
    </div>
    <form action="/login" method="POST">
        <div class="input-block">
            <label for="text" class="input-label">Имя</label>
            <input type="text" id="email" name="email" placeholder="Имя">
        </div>
        <div class="input-block">
            <label for="password" class="input-label">Пароль</label>
            <input type="password" name="password" id="password" placeholder="Пароль">
        </div>
        <div class="modal-buttons">
            <button class="input-button">Войти</button>
        </div>
    </form>
</div>

