main{
    display: flex;
    justify-content: center;
}
.page-elements{
    gap: 3vw;
    display: flex;
    max-width: 85vw;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.page-element{
    min-width: 35vw;
    width: 35vw;
    background-color: #F6F6F6;
    padding-bottom: 1em;
}

/*.page-element:last-child{*/
/*    align-self: flex-start;*/
/*    margin-right: 33vw;*/
/*}*/

.page-element-item{
    margin: 5%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    color: #212121;
}

.page-element-item label{
    margin: 0 40% 2% 0;
}

.page-element-buttons{
    display: flex;
    justify-content: center;

}

.deleteButton, .openButton {
    font-size: 1.4rem;
    margin: 0em 1em 0 1em;
}

@media only screen and (max-device-width: 600px){
    .page-elements{
        flex-direction: column;
    }

    .page-element{
        min-width: 70vw;
        width: 70vw;
        height: 35vw;
        background-color: #F6F6F6;
    }
}

