#user-dialog {
    padding: 1.6rem;
    width: 50vw;
    position: absolute;
    top: 55vh; left: 1vw;
}

#user-dialog input{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
}

#user-dialog label{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
}